# Ignore all by default
*

# Include needed directories
!api/
!host/
!login/
!banner/
!member/
!libs/
!nginx.conf

# Exclude node_modules and build artifacts from all projects
libs/node_modules
**/node_modules
**/dist
**/.angular
**/npm-debug.log
**/.git
**/.gitignore
**/*.md
**/.vscode
**/.editorconfig
**/coverage
**/.nyc_output
